{% extends "layout/default" %}

{% block content %}
    <article>
        <h1>Les Partenaires</h1>
    </article>

    <div class="partner-line">
        <a href="//www.mickael-martin-nevot.com/" class="partner-link">
            <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/6/000/251/187/3a638d8.jpg" alt="MMN"/>
        </a>
        <a href="http://christophe.delagarde.free.fr/" class="partner-link">
            <img src="https://media.licdn.com/mpr/mpr/shrink_500_500/p/3/000/11b/3e6/0a40471.jpg" alt="CD"/>
        </a>
        <a href="//github.com/pa-de-solminihac"class="partner-link">
            <img src="https://avatars3.githubusercontent.com/u/2463094?v=3&s=460" alt="PAS"/>
        </a>
        <a href="//www.ovh.com" class="partner-link">
            <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Logo_ovh.svg/220px-Logo_ovh.svg.png" alt="OVH"/>
        </a>
    </div>
    <div class="partner-line">
        <a href="//php.net/" class="partner-link">
            <img src="http://upload.wikimedia.org/wikipedia/commons/c/c1/PHP_Logo.png" alt="PHP"/>
        </a>
        <a href="//www.google.fr" class="partner-link">
            <img src="http://blog.infowebmaster.fr/wp-content/uploads/2009/10/logo_google_carre.png" alt="GG"/>
        </a>
        <a href="//afk.pvemu.org" class="partner-link">
            <img src="http://afk.pvemu.org/resources/images/bleumoche.png" alt="AFK"/>
        </a>
        <a href="//srv0.sknz.info:3733/" class="partner-link">
            <img src="https://raw.githubusercontent.com/SKNZ/amudrive/master/src/front-end/img/logo.png?token=AF4Fx2iEB2i7PDLfYC0fWex8aN11Wungks5UzkOKwA%3D%3D" alt="SWAG"/>
        </a>
    </div>
    <div class="partner-line">
        <a href="//www.youtube.com/v/watch?v=XCyi4w-3wZQ&autoplay=1" class="partner-link">
            <img src="http://img.clubic.com/05403751-photo-net-framework.jpg" alt="NET"/>
        </a>
        <a href="//www.youtube.com/v/watch?v=QzWK3zHCD-Q&autoplay=1" class="partner-link">
            <img src="https://www.apple.com/home/images/og.jpg" alt="NET"/>
        </a>
        <a href="//www.youtube.com/v/watch?v=3dHtZILTxuw&autoplay=1" class="partner-link">
            <img src="http://www.journaldugeek.com/files/2014/08/microsoft.jpg" alt="NET"/>
        </a>
        <a href="//www.lacroissanterie.fr/" class="partner-link">
            <img src="http://i-cms.linternaute.com/image_cms/750/1569396-l-homme-au-scooter.jpg" alt="NET"/>
        </a>
    </div>
{% endblock %}