{% extends "layout/default" %}

{% block content %}
    <article>
        <h1>Les Partenaires</h1>
    </article>
    <a href="http://www.mickael-martin-nevot.com/">
        <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/6/000/251/187/3a638d8.jpg" alt="MMN" height="330" width="330">
    </a>
    <a href="http://christophe.delagarde.free.fr/">
        <img src="https://media.licdn.com/mpr/mpr/shrink_500_500/p/3/000/11b/3e6/0a40471.jpg" alt="CD" height="330" width="330" >
    </a>
    <a href="https://github.com/pa-de-solminihac">
        <img src="https://avatars3.githubusercontent.com/u/2463094?v=3&s=460" alt="PAS" height="330" width="330" >
    </a>
    <a href="http://www.ovh.com">
        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Logo_ovh.svg/220px-Logo_ovh.svg.png" alt="OVH" height="330" width="330" >
    </a>
    <a href="https://php.net/">
        <img src="http://upload.wikimedia.org/wikipedia/commons/c/c1/PHP_Logo.png" alt="PHP" height="330" width="330" >
    </a>
    <a href="http://www.google.fr">
        <img src="http://blog.infowebmaster.fr/wp-content/uploads/2009/10/logo_google_carre.png" alt="GG" height="330" width="330" >
    </a>
    <a href="http://afk.pvemu.org">
        <img src="http://afk.pvemu.org/resources/images/bleumoche.png" alt="AFK" height="330" width="330" >
    </a>
    <a href="https://srv0.sknz.info:3733/">
        <img src="https://raw.githubusercontent.com/SKNZ/amudrive/master/src/front-end/img/logo.png?token=AF4Fx2iEB2i7PDLfYC0fWex8aN11Wungks5UzkOKwA%3D%3D" alt="SWAG" height="330" width="330" >
    </a>

{% endblock %}