{% extends "layout/default" %}

{% block content %}
    <article> <h1>{{ event.name }}</h1></article>
    <article>
        <ul>Desciption : </ul> {{ event.description }}
    </article>

{% endblock %}