{% extends "layout/default" %}
{% block content %}
    <article>
        <h1>Modifier un Évènement</h1>
        {{ form|raw }}
    </article>
    <input type="button" name="" value="Supprimer cet évément" onclick="self.location.href='/adminevent/delete/{{ id }}'" style="background-color:#b2b1ad" style="color:white; font-weight:bold" size="20%" onclick>
{% endblock %}