{% extends "layout/default" %}

{% block content %}
    <article>
        <h1>Gestion Admin</h1>
        <b>Bienvenue !</b>
    </article>
    <h2>Faite votre choix :</h2>
    <input type="button" name="" value="Gestion des évenements" onclick="self.location.href='/adminevent'" style="background-color:#b2b1ad" style="color:white; font-weight:bold" size="20%" onclick>
{% endblock %}