{% extends "layout/default" %}

{% block content %}
    <article class="user-list">
        <h1>Gestion utilisateurs</h1>

        <form class="pure-form" action="#">
            <input class="pure-input-1-1 search_input" type="text" placeholder="Rechercher ..."/>
            <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
        </form>
        <h3>Modifier un utilisateur</h3>

    {% for user in users %}
        <p class="user-list-item">
            <b><a href="/user/account/{{ user.id }}">{{ user.username }}</a></b>
            {{ user.firstname ~ ' ' ~ user.lastname }}
        </p>
    {% endfor %}

    </article>
{% endblock %}