<!DOCTYPE html>
<html>
    <head>
        <title>AFS - Accueil</title>
        {{ helpers.assets.css('style') }}
    </head>
    <body>
        <h1>AwayFromSwag</h1>
        <p>Accueil</p>
    </body>
</html>