{% extends "layout/default" %}

{% block content %}
    <article>
        <h1>Away From security</h1>
        <p id="description">
            Kid, I've flown from one side of this galaxy to the other.
            I've seen a lot of strange stuff, but I've never seen anything
            to make me believe there's one all-powerful Force controlling everything.
            There's no mystical energy field that controls my destiny.
            It's all a lot of simple tricks and nonsense.
        </p>
    </article>
    <article>
        <div class="part_block">
            <h3 id="news">Actualités</h3>
            <div class="first-news">
                <div class="first-news-description-block">
                    <h6><a href="#">The Impossible Planet</a></h6>
                    <span class="mini-text">3 janvier 2015</span>
                    <span class="mini-text"><a href="#">Hack divers</a></span>
                    <span class="mini-text"><a href="#">Paulethug</a></span>
                </div>
                <a href="#"><img src="http://lorempicsum.com/futurama/500/350/1" alt="News"/></a>
                <div class="first-news-text">
                    Stop talking, brain thinking. Hush. You know how I sometimes have really brilliant ideas? I am the
                    last of my species, and I know how that weighs on the heart so don't lie to me! Father Christmas.
                    Santa Claus. Or as I've always known him: Jeff. All I've got to do is pass as an ordinary human being.
                    Simple. What could possibly go wrong? Annihilate? No. No violence. I won't stand for it. Not now, not
                    ever, do you understand me?! I'm the Doctor, the Oncoming Storm - and you basically meant beat them in
                    a football match, didn't you?<a href="#" id="more"> Lire la suite</a>
                </div>
            </div>
            <div class="last-news">
                <div class="litle-news">
                    <span class="mini-text">2 janvier 2015</span>
                    <span class="mini-text"><a href="#">Actu site</a></span>
                    <span class="mini-text"><a href="#">Narenjlol</a></span>
                    <span class="mini-title"><a href="#">Allons y !</a></span>
                    <span class="little-news-text"><a href="#">Did I mention we have comfy chairs? You know when grown-ups ...</a></span>
                </div>
                <div class="litle-news">
                    <span class="mini-text">2 janvier 2015</span>
                    <span class="mini-text"><a href="#">Actu site</a></span>
                    <span class="mini-text"><a href="#">Narenjlol</a></span>
                    <span class="mini-title"><a href="#">Allons y !</a></span>
                    <span class="little-news-text"><a href="#">Did I mention we have comfy chairs? You know when grown-ups ...</a></span>
                </div>
                <div class="litle-news">
                    <span class="mini-text">2 janvier 2015</span>
                    <span class="mini-text"><a href="#">Actu site</a></span>
                    <span class="mini-text"><a href="#">Narenjlol</a></span>
                    <span class="mini-title"><a href="#">Allons y !</a></span>
                    <span class="little-news-text"><a href="#">Did I mention we have comfy chairs? You know when grown-ups ...</a></span>
                </div>

            </div>
        </div>
    </article>
    <article>
        <h3>Évènements</h3>
        <div class="part_block">
            <div class="mois">
                {{ helpers.assets.img('défis-or.png', 'Défi du jour') }}
                <h4>Évènements les plus populaires</h4>
            </div>
            <ul>
                <li>
                    <h5><a href="#">Évènement A</a></h5>

                    <p>
                        She also liked to shut up! If rubbin' frozen dirt
                        in your crotch is wrong, hey I don't wanna be right.
                    </p>
                </li>
                <li>
                    <h5><a href="#">Évènement B</a></h5>

                    <p>
                        Now Fry, it's been a few years since medical school,
                        so remind me.
                    </p>
                </li>
                <li>
                    <h5><a href="#">Évènement C</a></h5>

                    <p>
                        Alright, let's mafia things up a bit.
                        Joey, burn down the ship. Clamps, burn down the crew.
                    </p>
                </li>
            </ul>
        </div>
        <div class="part_block">
            {{ helpers.assets.img('défis-argent.png', 'Défis de la semaine') }}
            <h4>Les derniers évènements</h4>
            <ul>
                <li>
                    <h5><a href="#">Évènement A</a></h5>

                    <p>
                        She also liked to shut up! If rubbin' frozen dirt
                        in your crotch is wrong, hey I don't wanna be right.
                    </p>
                </li>
                <li>
                    <h5><a href="#">Évènement B</a></h5>

                    <p>
                        Now Fry, it's been a few years since medical school,
                        so remind me.
                    </p>
                </li>
                <li>
                    <h5><a href="#">Évènement C</a></h5>

                    <p>
                        Alright, let's mafia things up a bit.
                        Joey, burn down the ship. Clamps, burn down the crew.
                    </p>
                </li>
            </ul>
        </div>
    </article>
    <article>
        <div class="part_block">
            {{ helpers.assets.img('amis.png', 'Derniers inscrits') }}
            <h4>Les derniers inscrits</h4>
            <ul>
                <li><h5><a href="#">Loïc</a></h5></li>
                <li><h5><a href="#">Thomas</a></h5></li>
                <li><h5><a href="#">Loïck</a></h5></li>
                <li><h5><a href="#">Floran</a></h5></li>
                <li><h5><a href="#">Sasha</a></h5></li>
            </ul>
        </div>
    </article>
{% endblock %}