<h3>Se connecter</h3>
    <form class="pure-form" action="/user/auth" method="POST">
        <fieldset class="pure-group">
            <input class="pure-input-1-1" type="text" placeholder="Nom d'utilisateur" name="username"/>
            <input class="pure-input-1-1" type="password" placeholder="Mot de passe" name="password"/>
        </fieldset>
        <input type="submit" value="Se connecter" class="submit-button"/>
    </form>
<a href="/user/register" class="pure-button">Inscription</a>