<a href="/user/profile/{{ auth.userName }}" class="avatar-menu">
    <img src="https://www.gravatar.com/avatar/{{ auth.options.mailHash }}.png" alt="avatar"/>
</a>
<b class="nav-pseudo">{{ auth.options.firstname ~ ' ' ~ auth.options.lastname }}</b>
<ul>
    <li><a href="/user/account"><i class="fa fa-cog"></i>Mon profil</a></li>
    <li><a href="/user/myevent"><i class="fa fa-bicycle"></i>Mes évènements</a></li>
    <li><a href="/user/calendar"><i class="fa fa-calendar"></i>Calendrier</a></li>
    <li><a href="/user/friends"><i class="fa fa-users"></i>Mes amis</a></li>
    <li><a href="/conversation"><i class="fa fa-comments-o"></i>Messagerie</a></li>
    {% if auth.options.accessLevel %}
        <li><a href="/adminusers">Gestion des utilisateurs</a></li>
        <li><a href="/adminevents">Gestion des évènements</a></li>
    {% endif %}
    <li><a href="/user/disconnect"><i class="fa fa-power-off"></i>Se déconnecter</a></li>
</ul>