{% extends "layout/default" %}

{% block content %}
    <article class="register">
        <h1>Création de conversation</h1>

        {% for error in errors %}
            <p class="">
                {{ error }}
            </p>
        {% endfor %}

        <form method="POST" action="/user/register" class="pure-form pure-form-aligned">
            <div class="pure-control-group">
                <label for="title">Intitulé</label>
                <input required name="title" placeholder="Ma conversation stylée"/>
            </div>

            <div class="pure-control-group">
                <label for="title">Participants</label>
                <input required name="participations" placeholder="Toto"/>
            </div>

            <div class="pure-controls">
                <label for="mailnotifications" class="pure-checkbox">
                    <input name="mailnotifications" type="checkbox"/>
                    Recevoir du spam de NedSeb
                </label>

                <input type="submit" value="Valider !" name="submit" class="pure-button pure-button-primary"/>
            </div>
        </form>
    </article>
{% endblock %}