{% extends "layout/default" %}
{% block content %}
    <article>
        <h1>Messagerie</h1>
        <h2>Liste des dicussions</h2>
        <a href="/conversation/create" class="pure-button"><p>Nouvelle discussion</p></a>

        {% if conversations is empty %}
        <p>Vous n'avez pas de conversations en cours.</p>
        {% else %}
        <ul class="conversation-list">
            {% for conversation in conversations %}
                
            <li class="conversation-list-item">
                <b>{{ conversation.title }}</b>
                <p>
                    <b>{{ conversation.title }}</b><i>{{ conversation.snippet }}</i>
                </p>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </article>
{% endblock %}