{% extends "layout/default" %}
{% block content %}
    <article>
        <h1>Messagerie</h1>
        <h2>Liste des dicussions</h2>
        <a href="/conversation/create" class="pure-button pure-button-primary whitebutton"><p>Créer</p></a>

        {% if conversations is empty %}
        <p>Vous n'avez pas de conversations en cours.</p>
        {% else %}
        <ul class="conversation-list">
            {% for conversation in conversations %}
                <li class="conversation-list-item {% if conversation.notread %}button-warning{% endif %}">
                <a href="/conversation/show/{{ conversation.id }}"><b>{{ conversation.title }}</b></a>
                <p>
                    {{ conversation.lastmessagesnippet }}...
                </p>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </article>
{% endblock %}