{% extends "layout/default" %}
{% block content %}
    <article>
        <h1>Messagerie</h1>
        <h2>Liste des dicussions</h2>
        <a href="/conversation/new"><h3>Nouvelle discussion</h3></a>
    </article>
{% endblock %}