<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AFS - Accueil</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/forms-min.css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto:900,700,400' rel='stylesheet' type='text/css'>
    {{ helpers.assets.css('style') }}
    <!--[if lt IE 9]>
    <script src="html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div class="menu-reduced">
    <div class="wrapper_menu">
        <div class="menu_ham"></div>
    </div>
</div>
<aside class="menu-reduced">
    <a href="#" id="logo">{{ helpers.assets.img('logolarge.png', 'Logo Away From Security') }}</a>
    <nav>
        <form class="pure-form" action="#">
            <input class="pure-input-1-1 search_input" type="text" placeholder="Rechercher ..."/>
            <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
        </form>
        <ul>
            <li><a href="#">Événements</a></li>
            <li><a href="#">Actualité</a></li>
            <li><a href="#">Annuaire</a></li>
            <li><a href="#">Partenaire</a></li>
        </ul>
    </nav>
    <div class="user-menu">
        <a href="#" class="avatar-menu">
            <img src="https://www.gravatar.com/avatar/9c78e88a995de179fe5bca874fb79115.png" alt="avatar"/>
        </a>
        <b class="nav-pseudo">Thomas Munoz</b>
        <ul>
            <li><a href="#"><i class="fa fa-cog"></i>Mon profil</a></li>
            <li><a href="#"><i class="fa fa-bicycle"></i>Mes évènements</a></li>
            <li><a href="#"><i class="fa fa-calendar"></i>Calendrier</a></li>
            <li><a href="#"><i class="fa fa-users"></i>Mes amis</a></li>
            <li><a href="#"><i class="fa fa-comments-o"></i>Messagerie</a></li>
            <li><a href="#"><i class="fa fa-power-off"></i>Se déconnecter</a></li>
        </ul>
    </div>
    <ul class="footer">
        <li><a href="#"><b>23</b> connecté(s)</a></li>
        <li><a href="#"><b>5</b> inscrits</a></li>
        <li><a href="#"><b>20</b></a> évènements</li>
    </ul>
</aside>
<section class="menu-reduced">
    {% block content %}

    {% endblock %}
</section>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
{{ helpers.assets.js('menu') }}
</body>
</html>