{% extends "layout/default" %}
{% block content %}
    <article>
        <h1>Évènements</h1>
        <ul id="events">
            <li>
                <a href="/event/show/1"><h1>Nom de l'évènement 1</h1></a>
                <h2>Date</h2>
                <h2>Prix</h2>
                <p>
                    Description
                </p>
            </li>
            <li>
                <a href="/event/show/2"><h1>Nom de l'évènement 2</h1></a>
                <h2>Date</h2>
                <h2>Prix</h2>
                <p>
                    Description
                </p>
            </li>
        </ul>
    </article>
{% endblock %}