{% extends "layout/default" %}
{% block content %}
    <article>
        <h1>Modifier un Évènement</h1>
        {{ form|raw }}
        <form action="#" method="POST" class="centered">
            <div class="pure-controls">
                <input name="submit" type="submit" value="Supprimer" class="button-error pure-button" />
            </div>
        </form>
    </article>
{% endblock %}