{% extends "layout/default" %}
{% block content %}
    <article>
        <ul id="events">
            <li>
                <h1>Nom de l'évènement</h1>

                <h2>Prix : 20€</h2>
                <h2>le : 01/01/01</h2>
                <h2>ajouté le : 01/01/01</h2>
                <h2>par : Thomas Munoz</h2>

                <h3>Adresse : 42 rue du swag</h3>
                <h3>Participants : 2</h3>
                <h3>Participants Maximum : 10</h3>
                <p>
                    Description
                </p>
            </li>
        </ul>
    </article>
{% endblock %}