<!DOCTYPE html>
<html>
<head>
    <title>AFS - Erreur 404</title>
    {{ helpers.assets.css('style') }}
</head>
<body>
<h1>Erreur 404 Not Found</h1>

<p>La page demandée est introuvable</p>
</body>
</html>