{% extends "layout/default" %}

{% block content %}
    <article class="register">
        <h1>Inscrivez-vous aujourd'hui et bénéficiez de 10% de remise sur tout troll !</h1>

        {% for error in errors %}
            <p class="error_message">
                {{ error }}
            </p>
        {% endfor %}
        
        <form method="POST" action="/user/register" class="pure-form pure-form-aligned centered">
            <div class="pure-control-group">
                <label for="username">Nom d'utilisateur</label>
                <input required name="username" placeholder="Nom d'utilisateur"/>
            </div>

            <div class="pure-control-group">
                <label for="password">Mot de passe</label>
                <input required type="password" name="password" placeholder="Mot de passe"/>
            </div>

            <div class="pure-control-group">
                <label for="firstname">Prénom</label>
                <input required name="firstname" placeholder="Jean"/>
            </div>

            <div class="pure-control-group">
                <label for="lastname">Nom</label>
                <input required name="lastname" placeholder="Dupont"/>
            </div>

            <div class="pure-control-group">
                <label for="birthday">Date de naissance</label>
                <input required class="datepicker" name="birthday" placeholder="01/01/1970"/>

                <label for="birthdayPrivate" class="pure-checkbox">
                    Privé
                    <input type="checkbox" name="birthdayPrivate"/>
                </label>
            </div>

            <div class="pure-control-group">
                <label for="mail">Mail</label>
                <input required type="email" name="mail" placeholder="jean.dupont@mail.ex"/>

                <label for="mailPrivate" class="pure-checkbox">
                    Privé
                    <input type="checkbox" name="mailPrivate"/>
                </label>
            </div>

            <div class="pure-control-group">
                <label for="phonenumber">Numéro de téléphone</label>
                <input type="tel" name="phonenumber" placeholder="0707070707"/>

                <label for="phonenumberPrivate" class="pure-checkbox">
                    Privé
                    <input type="checkbox" name="phonenumberPrivate"/>
                </label>
            </div>

            <div class="pure-control-group">
                <label for="twitter">Twitter</label>
                <input name="twitter" placeholder="@JeanDupontSWAG">

                <label for="twitterPrivate" class="pure-checkbox">Privé
                    <input type="checkbox" name="twitterPrivate"/>
                </label>
            </div>

            <div class="pure-control-group">
                <label for="skype">Skype</label>
                <input name="skype" placeholder="jean.dupont"/>

                <label for="skypePrivate" class="pure-checkbox">Privé
                    <input type="checkbox" name="skypePrivate"/>
                </label>
            </div>

            <div class="pure-control-group">
                <label for="facebookuri">Facebook</label>
                <input type="url" name="facebookuri" placeholder="https://facebook.com/jean.dupont"/>

                <label for="facebookuriPrivate" class="pure-checkbox">Privé
                    <input type="checkbox" name="facebookuriPrivate"/>
                </label>
            </div>

            <div class="pure-control-group">
                <label for="website">Site web</label>
                <input type="url" name="website" placeholder="http://jeandupont.fr"/>

                <label for="websitePrivate" class="pure-checkbox">Privé
                    <input type="checkbox" name="websitePrivate"/>
                </label>
            </div>

            <div class="pure-control-group">
                <label for="job">Activité</label>
                <input name="job" required placeholder="Trader rich as fuck"/>

                <label for="jobPrivate" class="pure-checkbox">Privé
                    <input type="checkbox" name="jobPrivate"/>
                </label>
            </div>

            <div class="pure-control-group">
                <label for="description">Description</label>
                <textarea required name="description"
                          placeholder="Une brève description textuelle de votre beauté physique et intellectuelle... ou pas."></textarea>
            </div>

            <div class="pure-controls">
                <label for="mailnotifications" class="pure-checkbox">
                    <input name="mailnotifications" type="checkbox"/>
                    Recevoir du spam de NedSeb
                </label>

                <input type="submit" value="Valider !" name="submit" class="pure-button pure-button-primary"/>
            </div>
        </form>
    </article>
{% endblock %}