<!DOCTYPE html>
<html>
    <head>
        <title>AFS - testIndex</title>
        {{ helpers.assets.css('style') }}
    </head>
    <body>
        <h1>testIndex</h1>
        <p>#YOLO</p>
    </body>
</html>